body {
    background-color: rgb(225, 222, 219);
    font-family:fantasy;  
}
#home-body {
    background-image: url(./img/my-desk.jpeg);
    background-size: cover;
}
header{
    background-color: transparent; 
    margin: 1em;
}

header h1 {  
    font-size: 150%;
}

nav a:hover {
    color:blue;
 }

#right-aside {
    float: right;
 }

 main {
    background-color: transparent;
 }
#home-main {
    height: 650px;
}
footer  {
    font-size: 80%;
    text-align: right;  
}
footer a:link {
    color: black;
}
footer a:hover {
    color: rgb(81, 0, 255);
}








   

